
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#2f4858;">
  <div class="container">
      <a href="/" class="navbar-brand">La Pitaya Digital</a>
      <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar9">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home" >HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/forms">EJEMPLO & CÓDIGO</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/forms">COMPONENTES</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/use-jquery">jQUERY EN ANGULAR 5/6</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/contacto">Contacto</a>
              </li>

          </ul>
      </div>
  </div>
</nav>