<div class="container">
    <div class="row row-space">
        <div class="col-md-4">
            <lists-parent></lists-parent>
            <div class="text-center">
                <a class="btn btn-primary text-center text-white " routerLink="/forms/">VOLVER</a>
            </div>
        </div>
        <!-- <div class="col-md-8 align-center text-center" [hidden]="!show_form_edit">
            <h4>Editar Lista {{nameListEdit}}</h4>
            <div class="card">
                <div class="card-body">
                    <form #formEditNote='ngForm' (ngSubmit)="onSubmitEdit(formEditNote)">
                        <div class="row">
                            <input type="hidden" name="id" class="form-control" [(ngModel)]="editList.id">
                            <div class="col-lg-8">
                                <label for="{{name}}">Nombre</label>
                                <input type="text" name="name" class="form-control" [(ngModel)]="editList.name" required>
                            </div>

                            <div class="col-lg-3">
                                <label for="{{cost}}">Costo</label>
                                <input type="number" name="cost" class="form-control" [(ngModel)]="editList.cost" required>
                            </div>

                        </div>
                        <label for="{{description}}">Descripción</label>
                        <textarea [(ngModel)]="editList.description" name="description" class="form-control" required maxlength="20">
                            
                        </textarea>

                        <br>
                        <input type="button" name="" value="Eliminar Nota" (click)="cancelEditOneList(editList.id)" class="btn btn-danger form-control">
                    </form>
                </div>

            </div>
        </div> -->


    </div>
</div>