/* You can add global styles to this file, and also import other style files */
body{
    padding:0;margin:0;
    width:100%;
    height:100%;
}
.section-full{
    height:100%;min-height:100vh;
}
.section-banner{
    min-height:500px;height:auto;
}
.section-table{
    display:table;width:100%;
}
.content-middle{display:table-cell;vertical-align:middle;text-align:center}
.bg-aquamarine{background-color: aquamarine;}
.bg-darkkhaki{background-color: darkkhaki;}
.bg-darksalmon{background-color: darksalmon;}
.bg-darkslateblue{background-color: darkslateblue}

.bg-grandient-home{background-image: linear-gradient(to right top, #95c25e, #47a975, #008a81, #136876, #2f4858);}
.bg-grandient-home h1,h2,h3,h4{color:white;}
.bg-grandient-1{background-image: linear-gradient(to top, #95c25e, #47a975, #008a81, #136876, #2f4858);}
.bg-grandient-1 h1,h2,h3,h4{color:white;}
.bg-grandient-2{background-image: linear-gradient(to right bottom, #95c25e, #47a975, #008a81, #136876, #2f4858);}
.bg-grandient-2 h1,h2,h3,h4{color:white;}
.bg-grandient-3{background-image: linear-gradient(to bottom, #95c25e, #47a975, #008a81, #136876, #2f4858);}
.bg-grandient-3 h1,h2,h3,h4{color:white;}
@media only screen and (min-width : 1200px) {

    .container { max-width: 1024px !important; } 

}